.task_container{
    border: 1px solid lightgrey;
    background-color: #ffff;
    margin-bottom: 8px;
    border-radius: 5px;
    padding: 8px;
  }
  .task_title{
    margin: 10px;
  }
  .task_description{
    margin: 5px;
  }
  .task_image{
    height: 40%;
    width: 100%;
  }

  @media screen and (max-width:460px) {
    .task_container{
      overflow: hidden;
    }
  }