.taskcolumn_container{
  margin: 6px;
  border-radius: 2px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 25%;
  background: #dedede;
}
.taskcolumn_title{
    padding: 5px;
    font-size: 20px;
    margin-bottom: 12px;
}
.taskcolumn_tasklist{
  padding: 8px;
  flex-grow: 1;
  min-height: 100px;
}

@media  screen and (max-width:460px) {
    .taskcolumn_container{
      width: 230px;
    }
}