.addnew_container{
    color: #ffff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    bottom: 80px;
    cursor: pointer;
    right:60px;
    background-color: #01579b;
}
.addnew_icon{
    height: 35px;
    width: 35px;
}

@media screen and (max-width:460px) {
        .addnew_container{
            right: 20px;
            height: 65px;
            width: 65px;
            bottom: 250px;
        }
        .addnew_icon{
            height: 35px;
            width: 35px;
        }
}